[submodule "ext/bootstrap"]
	path = ext/bootstrap
	url = https://github.com/twbs/bootstrap.git
	branch = v4.5.3

[submodule "ext/jquery"]
	path = ext/jquery
	url = https://github.com/jquery/jquery.git
	branch = 3.5.1

[submodule "ext/twbs/icons"]
	path = ext/twbs/icons
	url = https://github.com/twbs/icons.git
	branch = v1.1.0
