<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Bootstrap core CSS -->
    <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/src/css/style.css" rel="stylesheet">
    <script src="navigation.js"></script>
</head>

<body>
    <nav class="bg-dark navbar navbar-dark navbar-expand-lg text-uppercase" id="navbar">
        <a class="navbar-brand" href="/index.html" target="_parent">
            <div id="logo" class="bg-dark">
                <span class="text-white">Cine</span>
                <span class="bg-primary text-dark rectangle">hub</span>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler35"
            aria-controls="" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse font-weight-bold navbar-collapse" id="navbarToggler35">
            <ul class="ml-auto mt-2 mt-lg-0 navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/src/home.html" target="main_frame">Home<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item disabled">
                    <a class="nav-link" href="#">Now in our theater<span class="sr-only">(text)</span></a>
                </li>
                <li class="nav-item disabled">
                    <a class="nav-link" href="#">Coming soon<span class="sr-only">(text)</span></a>
                </li>
                <li class="nav-item disabled">
                    <a class="nav-link" href="#">Food & drink<span class="sr-only">(text)</span></a>
                </li>
                <li class="nav-item disabled">
                    <a class="nav-link" href="#">Schedule<span class="sr-only">(text)</span></a>
                </li>
                <li class="nav-item disabled">
                    <a class="nav-link" href="#">Our theater<span class="sr-only">(text)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/src/login.html" target="main_frame">Login<span
                            class="sr-only">(text)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>